{% extends 'base.html' %}

{% block title %} {{article.article_title}} {% endblock %}

{% block content %}
    <h2>{{article.article_title}}</h2>
    <p>{{article.article_text}}</p>
    <em>{{article.pub_date}}</em>

    {% if article.was_published_recently %}
        Новая статья
    {% endif %}

    <hr>
    {% if latest_comment_list %}
        {% for c in latest_comment_list %}
            <p>
                <strong>{{c.auth_name}}</strong>
                <p>{{c.comment_text}}</p>
            </p>
        {% endfor %}
    {% else %}
    <div class="alert alert-warning" role="alert">
        Комментарии не найдены
    </div>
    {% endif %}

    <hr>

    <form action="{% url 'polls:leave_comment' article.id %}" method="POST">

        {% csrf_token %}
        <div class="form-group">
            <input name="name" type="text" class="form-control mb-2 w-5" id="exampleFormControlInput1" placeholder="Ваше имя">
        </div>
        <div class="form-group">
            <textarea name="text" class="form-control mb-2" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Отправить</button>
    </form>
{% endblock %}
